@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";



*{
  font-family:outfit;
}
::-webkit-scrollbar{
  display: none;
}

.active{
  background: linear-gradient(90deg, #EBF4F5, #B5C6E0); ;
  
}