# MongoDB connection string

MONGODB_URL=mongodb+srv://<username>:<password>@cluster.mongodb.net

# Cloudinary configuration
# Get these values from your Cloudinary dashboard
CLOUDINARY_NAME=your_cloudinary_cloud_name

CLOUDINARY_API_KEY=your_cloudinary_api_key

CLOUDINARY_SECRET_KEY=your_cloudinary_secret_key


NODE_ENV=development
JWT_SECRET=your_jwt_secret_here

SENDER_EMAIL=your_email@example.com

//from brevo
SMTP_USER=smtp_server_id/name

SMTP_PASS=smtp_key_value

